{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "tailwindConfig": "./tailwind.config.mjs",
  "tailwindFunctions": ["cva", "cn"]
}
