{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "tailwindStylesheet": "./src/styles/global.css",
  "tailwindFunctions": ["cva", "cn"]
}
