---
import { Button } from ".";
---

<section class="mt-4">
  <h1 class="text-4xl font-bold">Emin Aliyev</h1>
  <h2 class="text-lg">Software Developer</h2>

  <Button
    as="a"
    href="/CV.pdf"
    target="_blank"
    radius="xl"
    scale
    class="mt-4 max-w-fit font-medium uppercase"
    data-download-cv
  >
    Download CV
  </Button>
</section>
