---
import { Badge } from ".";
---

<section>
  <Badge variant="outline" radius="lg" title class="mb-4">Summary</Badge>

  <p class="rounded-lg bg-neutral-100 p-4 text-justify dark:bg-neutral-800">
    Hi! I am an experienced software developer with 3.5 years of work experience
    in the field of software development, especially frontend development. I
    love to explore the cutting-edge technologies to build performant and
    scalable applications.
  </p>
</section>
