---
import { Footer, Header } from "@/components";
import "@/styles/globals.css";
import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/500.css";
import "@fontsource/ubuntu/700.css";
import { SEO, type SEOProps } from "astro-seo";

interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO {...seo} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <script is:inline>
      const loadTheme = () => {
        const theme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme") &&
            ["light", "dark"].includes(localStorage.getItem("theme"))
          ) {
            return localStorage.getItem("theme");
          }

          if (matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }

          return "light";
        })();

        localStorage.setItem("theme", theme);

        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }
      };

      loadTheme();
    </script>
  </head>
  <body
    class="flex min-h-screen flex-col bg-neutral-50 font-ubuntu text-neutral-900 selection:bg-green-500 selection:text-neutral-50 supports-[min-height:100dvh]:min-h-[100dvh] dark:bg-neutral-900 dark:text-neutral-50 dark:selection:bg-yellow-500 dark:selection:text-neutral-900"
  >
    <Header />

    <main class="px-4 pb-4">
      <div class="mx-auto max-w-3xl">
        <slot />
      </div>
    </main>

    <Footer />

    <script>
      const loadScripts = () => {
        const themeToggle = document.querySelector(
          "[data-theme-toggle]",
        ) as HTMLElement;

        themeToggle.addEventListener("click", () => {
          const theme = localStorage.getItem("theme") || "dark";

          if (theme === "light") {
            localStorage.setItem("theme", "dark");

            document.documentElement.classList.add("dark");
          } else {
            localStorage.setItem("theme", "light");

            document.documentElement.classList.remove("dark");
          }
        });
      };

      loadScripts();
    </script>
  </body>
</html>
